.raven-view-rules {
	padding-top: 60px;

	input {
		margin-top: 8px;
	}

	h3 {
		font-size: 24px;
		margin-bottom: 20px;
	}

	h4 {
		font-size: 16px;
	}

	.rules {
		list-style: none;
		margin: 20px 0 0 0;
		padding: 0;

		li {
			overflow: hidden;
			margin-bottom: 30px;
		}
	}

	.rule-content {
		margin-left: 30px;
  }

  .search {
		margin-top: 50px;
		margin-bottom: 50px;

		.search-wrapper {
			width: 100%;
			border-bottom: 2px solid $gsBlue;
			display: flex;

			@media (min-width: 992px) {
				width: 310px;
			}
		}

		i {
			color: $gsBlue;
			padding-right: 10px;
			font-size: 20px;
			margin-top: 12px;
		}

		input {
			border: none;
			width: 100%;
			outline: none;
			color: $gsBlue;
			font-size: 20px;
			font-family: $sans;
			padding-bottom: 10px;
		}

		button {
			i {
				color: $headerWhite;
			}
		}
  }

  .applicability {
    margin-left: 10px;
  }
}
